<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/web" method="POST">
        <label style="color: red;font-size: 160%;" for="txtNombre"><strong>Nombre</strong>  &nbsp</label>
        <input type="text" name="txtNombre" id="txtNombre"><br/>
        <table></table><br/>
        <label style="color: red;font-size: 160%;" for="txtEmail"><strong>Email</strong>  &nbsp&nbsp&nbsp  </label>
        <input type="email" name="txtEmail" id="txtEmail">
        <table></table><br/>
        <label style="color: red;font-size: 160%;" for="txtMensaje"><strong>Mensaje</strong> : </label>
        <table></table><br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
        <textarea  type="text" name="txtMensaje" id="txtMensaje" rows="10" cols="30">
        </textarea>
       
        <table></table><br/>
        <input  style="color: blue;font-size: 160%;" type="submit" value="Enviar">
        <input type="datetime-local" name="datetime-local" id="datetime-local">
    </form>
    
</body>
</html>